# Frontend
/frontend/node_modules
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/.eslintcache

# Backend
/backend/node_modules
/backend/.env
/backend/.env.local
/backend/.env.*.local
/backend/uploads/*
!/backend/uploads/.gitkeep
/backend/logs/
/backend/*.log
/backend/dist/
/backend/coverage/

# General ignores
.DS_Store