# Copy file ini menjadi .env dan isi nilainya

# Server
PORT=xxxx
NODE_ENV=xxxx

# MongoDB
MONGODB_URI=xxxx
# Contoh MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ricecare_db

# JWT
JWT_SECRET=xxxx
JWT_EXPIRES_IN=xxxx
JWT_REFRESH_SECRET=xxxx
JWT_REFRESH_EXPIRES_IN=xxxx

# Upload
MAX_FILE_SIZE=xxxx
UPLOAD_PATH=xxxx
ALLOWED_IMAGE_TYPES=xxxx

# Rate Limiting
RATE_LIMIT_WINDOW_MS=xxxx
RATE_LIMIT_MAX=xxxx

# Frontend URL (CORS)
FRONTEND_URL=xxxx

# SMTP Configuration (untuk pengiriman email reset password)
SMTP_HOST=xxxx
SMTP_PORT=xxxx
SMTP_SECURE=xxxx
SMTP_USER=xxxx
SMTP_PASS=xxxx
EMAIL_FROM=xxxx
